.escapeMenuContainer {
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background: rgba(215, 214, 214, 0.03);
    animation: floatIn;
    animation-fill-mode: forward;
    animation-duration:.7s
}

.escapeMenuClose {
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background: rgba(215, 214, 214, 0.03);
    animation: floatOut;
    animation-fill-mode: forward;
    animation-duration:.7s;
    opacity:0;
}

@keyframes floatOut {
    0%{opacity:1;}
    100%{opacity: 0;}
}

@keyframes floatIn {
    0% {opacity: 0}
    100% { opacity: 1}

}

a:link {text-decoration:none;}

a {
    color:inherit;
}

.aboutLink {
    position: absolute;
    left:10px;
    top:10px;
    font-size: 30px;
    padding-top:0;
    margin-top:0;
}

.aboutLink:hover {
    animation-name: fontGrow;
    animation-fill-mode: forward;
    animation-duration: .5s;
    font-size:39px;
}

@keyframes fontGrow {
    0% {font-size: 30px;}
    100% {font-size:39px;}
}

.volumeControl {
    position: absolute;
    left:50px;
    top:10px;
    font-size: 30px;
    padding-top:0;
    margin-top:0;
}

.gitLink {
    position: absolute;
    right:20px;
    top:20px;
    width: 60px;
    height: 60px;
    filter: invert(100%);
}

.gitLink:hover {
    width:65px;
    height:65px;
    animation-name: logoGrow;
    animation-duration: .5s;
    animation-fill-mode:forward;
}

@keyframes logoGrow {
    0%{width: 60px;
       height:60px;
      };
    100%{width:65px;
         height:65px;
        }
}

.escPrompt {
    opacity:0;
    position:absolute;
    font-size: 50px;
    top:80vh;
    left:50%;
    margin-left:-250px;
    animation-name: slowFadeIn;
    animation-duration:3s;
    animation-delay:2s;
    animation-fill-mode: forwards;


}

@keyframes slowFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
